---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #7b838b;
$theme-dark: #222;
$logo-color: rgb(44, 46, 53);

$poly-red: rgb(185, 30, 50);
$poly-orange: rgb(250, 150, 30);
$poly-green: rgb(140, 200, 60);
$poly-blue: rgb(65, 170, 230);
$poly-alpha-a: 0.95;
$poly-alpha-b: 0.7;

$soft-text: rgb(123, 131, 139);
$soft-background: rgb(235, 235, 235);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
