<section id="a-propos" class="bg-alt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">À propos</h2>
                <hr>
                <p class="text-soft">
                    L'Association des sociétés techniques de Polytechnique a pour but de promouvoir, soutenir et développer les sociétés techniques en collaboration avec l'Association étudiante de Polytechnique.
                </p>
            </div>
        </div>
    </div>
</section>
