<section id="sts" class="bg-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sociétés techniques</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        {% for st in site.data.sts %}
            <div class="row justify-content-md-center align-items-center">
                <div class="col-md-6 text-left text-soft">
                    <div>
                        <h4>{{ st.name }}</h4>
                    </div>
                    <div>
                        {{ st.description }}
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div style="color: green;">
                        {% if st.links.website %}<a class="sts-social-btn" href="{{ st.links.website}}" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe fa-3x"></i></a>{% endif %}
                        {% if st.links.facebook %}<a class="sts-social-btn" href="https://facebook.com/{{ st.links.facebook}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square fa-3x"></i></a>{% endif %}
                        {% if st.links.instagram %}<a class="sts-social-btn" href="https://instagram.com/{{ st.links.instagram}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-3x"></i></a>{% endif %}
                        {% if st.links.twitter %}<a class="sts-social-btn" href="https://twitter.com/{{ st.links.twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square fa-3x"></i></a>{% endif %}
                        {% if st.links.youtube %}<a class="sts-social-btn" href="https://youtube.com/user/{{ st.links.youtube}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube-square fa-3x"></i></a>{% endif %}
                        {% if st.links.flickr %}<a class="sts-social-btn" href="https://www.flickr.com/photos/{{ st.links.flickr}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-flickr fa-3x"></i></a>{% endif %}
                        {% if st.links.linkedin %}<a class="sts-social-btn" href="https://www.linkedin.com/company/{{ st.links.linkedin}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-3x"></i></a>{% endif %}
                        {% if st.links.github %}<a class="sts-social-btn" href="https://github.com/{{ st.links.github}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square fa-3x"></i></a>{% endif %}
                        {% if st.links.gitlab %}<a class="sts-social-btn" href="https://gitlab.com/{{ st.links.gitlab}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-gitlab fa-3x"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
